{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row pt-2 pb-2 container">


        {{ cart }}
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Країна</th>
      <th scope="col">Кількість квитків</th>
      <th scope="col">Вартість</th>
    </tr>
  </thead>
  <tbody>
  {% for travel in cart %}
    <tr>
      <td>{{ travel.travel.country }}</td>
      <td>{{ travel.ticket_quantity }}</td>
      <td>{{ travel.cost }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    </div>
</div>
{% endblock %}