<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk4WIrhKDwGxROUoOqp1xZbhEgQYUCRH38GQ&s" style="max-width: 70px;">

      <a class="navbar-brand"></a>
      <a class="navbar-brand" href="{{ url_for('index') }}">На головну🏠</a>

      <a class="btn btn-outline-secondary" href="{{ url_for('get_all_travels') }}">Всі подорожі</a>

       <form class="d-flex" role="search" method="post" action="{{ url_for('search_by_country') }}">
        <input class="form-control me-2" type="search" name="query" placeholder="введіть країну подорожі" aria-label="Search" value="{{country_value}}">
        <button class="btn btn-outline-danger" type="submit">Пошук за країною🔍</button>
      </form>

       <form class="d-flex" role="search" method="post" action="{{ url_for('search_by_price') }}">
        <input class="form-control me-2" type="search" name="query" placeholder="введіть ціну" aria-label="Search" value="{{price_value}}">
        <button class="btn btn-outline-success" type="submit">Пошук за ціною🔍</button>
      </form>
       <form class="d-flex" role="search" method="post" action="{{ url_for('search_by_hotel_class') }}">
        <input class="form-control me-2" type="search" name="query" placeholder="введіть клас готеля" aria-label="Search" value="{{hotel_class_value}}">
        <button class="btn btn-outline-warning" type="submit">Пошук за класом готелю</button>
      </form>
    </div>
  </div>
</nav>